<div class="container-fluid vh-100" style="white-space: nowrap; padding-top: 1rem; background-color: aqua;">
    <div class="card">
        <div class="card-body">
            <h3 class="offset-2">Report</h3>
            <br>
            <form>
                <div class="form-row row">
                    <div class="col-md-4 mb-3">
                        <label for="pay_to">Pay To</label>
                        <input placeholder="Pay To" formControlName="pay_to" type="text" class="form-control"
                            name="pay_to">
                    </div>
                </div>
            </form>
            <table class="table table-sm table-bordered " style="text-align: center; background-color: #65edff;">
                <thead>
                    <tr>
                        <th scope="col">Sl#</th>
                        <th scope="col">ID</th>
                        <th scope="col" style="text-align: left;">Pay To</th>
                        <th scope="col">Pay Date</th>
                        <th scope="col" style="text-align: right;">Amount</th>
                        <th scope="col" style="text-align: left;">Remarks</th>
                        <th scope="col">Reprint</th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of reprintdata| paginate:{ itemsPerPage: 4, currentPage: p}, index as i">
                        <td scope="row">{{i+1}}</td>
                        <td>{{item?.id}}</td>
                        <td style="text-align: left;">{{item?.pay_to}}</td>
                        <td>{{getFormattedDate(item?.pay_date)}}</td>
                        <td style="text-align: right;">{{getFormattedNumber(item?.amount)}}</td>
                        <td style="text-align: left; white-space: normal">{{item?.remarks}}</td>
                        <td>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-printer-fill" viewBox="0 0 16 16">
                                <path
                                    d="M5 1a2 2 0 0 0-2 2v1h10V3a2 2 0 0 0-2-2H5zm6 8H5a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1z" />
                                <path
                                    d="M0 7a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v3a2 2 0 0 1-2 2h-1v-2a2 2 0 0 0-2-2H5a2 2 0 0 0-2 2v2H2a2 2 0 0 1-2-2V7zm2.5 1a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1z" />
                            </svg>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="row justify-content-center">
                <div class="col-auto">
                    <pagination-controls (pageChange)="p = $event" class="float-right">
                    </pagination-controls>
                </div>
            </div>
        </div>
    </div>
</div>