<div class="container-fluid" style="white-space: nowrap;">
  <h4 style="text-align: center;">Report</h4>
  <br>
  <div class="row">
    <div class="col">
      <div class="row">
        <div class="col-6 offset-3">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="">
            <label class="form-check-label" for="flexCheckDefault">
              Date
            </label>
            <span class="offset-1"></span> From
            <input type="date" name="">
            to
            <input type="date" name="">
          </div>
        </div>
        
      </div>
  <br>

      <div class="row">
        <div class="col-6 offset-3"> 
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="">
            <label class="form-check-label" for="flexCheckChecked">
              Pay To
            </label>
            <input class="offset-1" type="text">
          </div>
        </div>
      </div>
<br>
      
      <div class="row">
        <div class="col-10 offset-1" style="text-align: center;">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">Sl#</th>
                <th scope="col">Pay To</th>
                <th scope="col">Pay Date</th>
                <th scope="col">Amount</th>
                <th scope="col">Remarks</th>
     
              </tr>
            </thead>
            <tbody>
              <tr>
                <td scope="row"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
    
              </tr>
            </tbody>
          </table>
        </div>
        
      </div>
    

    </div>
  </div>


</div>